<div class="jumbotron">
        <h1>Aviso.</h1>
        <p>Você não pode excluir este cadastro, porque outros cadastros ainda dependem dele.</p>
        <p>Exemplo:</p>
        <br>Temos um Cliente cadastrado e esse Cliente já foi utilizado no cadastro de uma Ordem de serviço ou em uma conta á receber,<br />
        <br>Então não podemos excluir o cadastro deste cliente, porque senão
        quando eu for abrir esta O.S, <br>não terá mais o nome deste cliente aparecendo no cabeçalho.<br /><p>
        <p>Para maiores exclarecimentos clique no botão abaixo e nos envie uma mensagem.<p />
        <p><%= link_to "Envie sua mensagem", contact_path, class: "button btn btn-primary" %></p>
</div>