<div class="jumbotron">
      <div class="container">
        <p>Este aplicativo foi desenvolvido pela D&D Support Service - Consultoria em T.I.</p>
        <h4>Para ter acesso ao Aplicativo é preciso informar um email e senha válidos.</h4>
        <h5>Caso tenha alguma duvida entre em contato com o suporte, obrigado.</h5>
        <p><a class="btn btn-primary btn-lg" href="http://www.ddti.com.br" role="button">Nosso site &raquo;</a></p>
      </div>
    </div>
    <div class="pull-right"><%= image_tag "footer_intro.png" %></div>