<%- model_class = Invoice -%>
<div class="page-header">
  <h1>Nova pré venda</h1>
</div>
<%= render :partial => 'form' %>

<div class="jumbotron" style="background-color:#e0f8f6">
	<div id="1">
	<h3>Atenção!</h3>
	</div>
	<div id="2">
	<h4>Fique sempre atento com a data de pré venda selecionada, pois é com base nela em que o relatório de <b>Analíse geral</b> é gerado.</h4>
	</div>
</div>
