<%- model_class = CancelNumeral -%>
<div class="page-header">
  <h1>Nova inutilização de numeração NF-e</h1>
</div>
<%= render :partial => 'form' %>

<div class="jumbotron">
<h2>Informações sobre o cancelamento de NFC-e</h2>
<h4>Em uma situação normal você não precisará informar ao SEFAZ a inutilização de um número da NFe pois a APP controla automaticamente a numeração das notas.
 <br /> Porém, se por alguma situação específica for necessário a inutilização de alguma faixa de números você poderá fazer aqui.</h4>
</div>